<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-receipt-heading">Create or edit a Receipt</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!receipt.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="receipt.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_receiptNumber">Receipt Number</label>
                    <input type="text" class="form-control" name="receiptNumber" id="field_receiptNumber"
                        [(ngModel)]="receipt.receiptNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_date">Date</label>
                    <input type="text" class="form-control" name="date" id="field_date"
                        [(ngModel)]="receipt.date" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_paymentAmount">Payment Amount</label>
                    <input type="text" class="form-control" name="paymentAmount" id="field_paymentAmount"
                        [(ngModel)]="receipt.paymentAmount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cashierName">Cashier Name</label>
                    <input type="text" class="form-control" name="cashierName" id="field_cashierName"
                        [(ngModel)]="receipt.cashierName" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
