<button *ngIf="!isSaleStarted" (click)="startNewSale()">Start new sale</button>
<div *ngIf="isSaleStarted"><h2>Sale is started.</h2> <br /></div>

<br />
  <button *ngIf="isSaleStarted" (click)="enterItemIdentifier()">Enter barcode</button>
  <input *ngIf="isSaleStarted" type="text" [(ngModel)]="barcode">
<br />
<br />
<button *ngIf="isSaleStarted" (click)="scanItem()">Scan item </button>
<br />
<br />
<div *ngIf="isSaleStarted" class="table-responsive">
    <div>Total: {{ total }}</div>
    <table class="table table-striped">

        <thead>
        <tr>
            <th><span>Name</span></th>
            <th><span>Price</span></th>
            <th><span>Barcode</span></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.barcode}}</td>
        </tr>
        </tbody>
    </table>

    <br />
    <button *ngIf="isSaleStarted" (click)="cashPayment()">Cash Payment </button>
    <input *ngIf="isSaleStarted" type="text"  matInput placeholder="Cash Amount" [(ngModel)]="cashAmount">
    <span *ngIf="changeAmount"> Change: {{ changeAmount }}</span>
    <br />
    <br />
    <button *ngIf="isSaleStarted" (click)="cardPayment()">Card Payment </button>
    <input *ngIf="isSaleStarted" type="text"  matInput placeholder="Card Number" [(ngModel)]="cardNumber">

    <input *ngIf="isSaleStarted" type="text"  matInput placeholder="Pin" [(ngModel)]="pin">

    <br/>
    <br/>
    <button *ngIf="isSaleStarted" (click)="endSale()">End sale</button><br />
</div>

<div *ngIf="isTesting">
</br>
</br>
<button *ngIf="isSaleStarted" (click)="updateStock()">Update Stock</button>
<div> {{updateStockResult}}</div>
</br>
</br>
<button *ngIf="isSaleStarted" (click)="getProduct()">Get Product</button>
<div> {{getProductResult}}</div>
</br>
</br>
<button *ngIf="isSaleStarted" (click)="removeProduct()">Remove Product</button>
<div> {{removeProductResult}}</div>
</br>
</br>
<button *ngIf="isSaleStarted" (click)="verifyItem()">Verify Item Barcode</button>
<div> {{verifyItemResult}}</div>
</br>
</br>
</div>
